<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
            <section name="fergunGoogleTranslatorPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fergunGoogleTranslatorPlugin.Properties.Settings>
            <setting name="fromLang" serializeAs="String">
                <value />
            </setting>
            <setting name="toLang" serializeAs="String">
                <value />
            </setting>
        </fergunGoogleTranslatorPlugin.Properties.Settings>
    </userSettings>
</configuration>
