<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sayclipTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <sayclipTray.Properties.Settings>
            <setting name="lan1" serializeAs="String">
                <value>ja</value>
            </setting>
            <setting name="lan2" serializeAs="String">
                <value>es</value>
            </setting>
            <setting name="translate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="copyresult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>sayclip</value>
            </setting>
        </sayclipTray.Properties.Settings>
    </userSettings>
</configuration>