<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sayclipTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <sayclipTray.Properties.Settings>
            <setting name="lan1" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="lan2" serializeAs="String">
                <value>es</value>
            </setting>
            <setting name="translate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="copyresult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>sayclip</value>
            </setting>
            <setting name="msAppID" serializeAs="String">
                <value />
            </setting>
            <setting name="msAppSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="translator" serializeAs="String">
                <value>google</value>
            </setting>
            <setting name="allowRepeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sayclipKey" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="UILang" serializeAs="String">
                <value>auto</value>
            </setting>
        </sayclipTray.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V2/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService"/>
        </client>
    </system.serviceModel>
</configuration>
